[Unit]
Description=GG Discord Bot

[Service]
ExecStart=/var/node/DiscordBot/discord_bot.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/node/DiscordBot

[Install]
WantedBy=multi-user.target
